.leaf, .leaf_final {
    width: max-content;
    position: absolute;
    font-family: verdana, arial, helvetica, sans-serif;
}

.leaf_final .cell { background-color: DarkSeaGreen;}
.leaf_final .pivotPre { background-color: DarkSeaGreen;}
.leaf_final .array { margin-top: 0px; }

.cell, .pivotPost, .pivotPre, .singleton {
    display: inline-block;
    border-right-style: solid;
    border-width: 1px;
    padding: 2px;
    text-align: center;
    width: 20px;

}

.pivotPre {
    background-color: yellow;
}

.singleton, .pivotPost {
    background-color: DarkSeaGreen;
}

.array {
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-top: 10px;
}

.topnav {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: Cornsilk;
    display: inline-block;
}

#topnavContainer {
    width: 100%
}
.inputVals {
    margin: 1px;
    text-align: center;
}

#topnavLeft {
    width: 150px;
    text-align: center;
    vertical-align: top;
    float: left;
}

#topnavRight {
    margin-left: 150px;
    text-align: left;

}

#quickSortCanvas {
    display: inline-block;
}

p.form {
    margin: 3px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 75%

}

#runButton, #randButton, #numButton {
    margin-left: 5px;
    margin-right: 5px;
}