.node {
    width: max-content;
    position: absolute;
    font-family: verdana, arial, helvetica, sans-serif;
}

.cell, .pivotPost, .pivotPre, .singleton {
    display: inline-block;
    border-right-style: solid;
    border-width: 1px;
    padding: 2px;
    text-align: center;
    width: 20px;

}

.pivotPre {
    background-color: yellow;
}

.singleton, .pivotPost {
    background-color: DarkSeaGreen;
}

.array {
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-top: 10px;
}

.topnav {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: Cornsilk;
    display: inline-block;
}

#topnavContainer {
    width: 100%
}
.inputVals {
    margin: 1px;
    text-align: center;

}

#submitValues, #randomize {
    margin: 2px;
}

#topnavLeft {
    width: 25%;
    text-align: center;
    vertical-align: top;

}

#tableView, #quickSortCanvas {
    display: inline-block;
}

#tableView {
    float: right;
}
