.node {
    width: max-content;
    position: absolute;
    font-family: verdana, arial, helvetica, sans-serif;
/*    display: none;*/
}

.cell, .pivot, .singleton {
    display: inline-block;
    border-right-style: solid;
    border-width: 1px;
    padding: 2px;
    text-align: center;
}

.pivot {
    background-color: yellow;
}

.singleton {
    background-color: DarkSeaGreen;
}

.array {
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-top: 10px;
}
#tomQS {
    padding: 10px;
}